<body id="cv">
  <header>
    <%= render 'refinery/header'  %>
  </header>
  <section id="body_content" class="container">
    <div class="span6"> <%=raw @page.content_for(:body) %> </div> 
    <div class="span4"> <%=raw @page.content_for(:side_body) %> </div> 
  </section>
  
</body>
